<!DOCTYPE html>
<html>
  {% include head.html %}

  <style>
    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(15px); }
      to { opacity: 1; transform: translateY(0); }
    }

    /* 赋予动画属性的通用类 */
    .fade-in-item {
      opacity: 0;
      animation: fadeIn 1s ease-out forwards;
    }

    /* 不同的延迟时间，营造错落感 */
    .delay-1 { animation-delay: 0.2s; }
    .delay-2 { animation-delay: 0.5s; }
    .delay-3 { animation-delay: 10s; }
  </style>

  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true
      },
      svg: { fontCache: 'global' }
    };
  </script>
  
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner fade-in-item delay-1">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>